always-auth=true
registry=https://registry.npmjs.org/
@trainerhelper:registry=https://pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/registry/
@s196063:registry=https://pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/registry/
; begin auth token
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/registry/:username=s196063
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/registry/:_password=[eHZxNG00YmtidGh5eGtuNjNheG55emduc3F6a3l3dGlxZ2x5bnZkbnFwejVhbnh6YnM0cQ==]
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/:username=s196063
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/:_password=[eHZxNG00YmtidGh5eGtuNjNheG55emduc3F6a3l3dGlxZ2x5bnZkbnFwejVhbnh6YnM0cQ==]
//pkgs.dev.azure.com/s196063/TrainerHelper/_packaging/TrainerFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
